# IF condition

In [1]:
a=0
if a==1:
    print("a is one")
else:
    print("a is not one")

a is not one

In [2]:
a=int(input("Enter a number")) 
if a%2==0:
    print("Even")
else:
    print("Odd")

Enter a number3
Odd

In [3]:
#elif condition

In [4]:
n1,op1,n2=input().split()


n1,n2=float(n1),float(n2)

if op1=="+":
    print(n1+n2)
elif op1=="-":
    print(n1-n2)
elif op1=="*":
    print(n1*n2)
elif op1=="/":
    print(n1/n2)
else:
    print('zero')

10 + 10
20.0

In [5]:
#while

In [6]:
i=0
while i<=5:
    print(i)
    i+=1

0
1
2
3
4
5

In [18]:
while True:
    
    p_cat=input()
    if p_cat=="exit":
        break
    else:
        p_cat=float(p_cat)
        p_dog=1-p_cat
        if p_cat>0.7:
            print("This is a cat")
        else:
            print("This a dog")

0.4
This a dog
0.8
This is a cat
exit

In [8]:
#power
num,pow1 =map(int,(input().split()))
out_result=1
while pow1 >= 1:
    out_result *=num
    pow1-=1
print(out_result)

2 3
8

In [9]:
#count of digits
x=int(input())
cnt=0
if x==0:
    cnt=1
else:
    if x<0:
        x=-x
    while x>0:
        cnt+=1
        x=x//10
    
print(cnt)

123
3

In [1]:
n=int(input())

row=0

while row < n:
    cnt=0
    while cnt<=row:
        print("*",end=" ")
        cnt+=1
    row+=1
    print()

4
*
* *
* * *
* * * *

In [4]:
n=int(input())

row=n

while row>=0:
    cnt=0
    while cnt<row:
        print("*",end=" ")
        cnt+=1
    print()
    row-=1

4
* * * *
* * *
* *
*

In [9]:
'''
let assume n=4
row 1 --> space 3--->star 1
row 2 --> space 2--->star 3
row 3 --> space 1--->star 5
row 4 --> space 0--->star 7

spaces-->N-Row
stars--->2*row-1
'''
n=int(input())

row=1

while row<=n:
    #print N-Row:spaces
    start_count=1
    while start_count<=n-row:
        print(" ",end=" ")
        start_count+=1
    
    #print 2*row-1
    start_count=1
    while start_count<=2*row-1:
        print("*",end=' ')
        start_count+=1
    print()
    row+=1

row=n

while row>0:
    #print N-Row:spaces
    start_count=1
    while start_count<=n-row:
        print(" ",end=" ")
        start_count+=1
    
    #print 2*row-1
    start_count=1
    while start_count<=2*row-1:
        print("*",end=" ")
        start_count+=1
    print()
    row-=1

4
      *
    * * *
  * * * * *
* * * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [29]:
#Reverse numbers
n=int(input())
rev=0

while n>0:
    d=n%10
    n//=10
    rev=rev*10+d

print(rev)

123
321

In [13]:
#for loop

In [16]:
for i in range(5):
    print(i)

0
1
2
3
4

In [14]:
for i in range(1,5):
    print(i)

1
2
3
4

In [19]:
for i in range(1,9,2):
    print(i, end=" ")

1 3 5 7

In [15]:
for _ in range(1,5):
    print("Hello")

Hello
Hello
Hello
Hello

In [20]:
for i in range(5,0,-1):
    print(i,end=" ")

5 4 3 2 1

In [23]:
for i in range(10,0,-2):
    print(i,end=" ")

10 8 6 4 2

In [24]:
for i in range(5):
    pass
#just for simple useless statement

In [26]:
char='saeidakbari'
for i in char:
    print(i,end=" ")

s a e i d a k b a r i

In [48]:
#sum 1 to n
n=5
sum=0
for i in range(n+1):
    sum=sum+i
print(sum)

15

In [1]:
for i in range(5):
    print(i)
else:
    print("Finish")

0
1
2
3
4
Finish

In [2]:
for i in range(5):
    print(i)
    if i==3:
        break
else:
    print("else is ignore")

0
1
2
3

In [11]:
#Read T case -N number - sum of that numbe this way-->if N=3--> a+b*b+c*c*c
total_case=int(input())

for case in range(total_case):
    n=int(input())
    sum1=0
    
    for i in range(n):
        value,result=int(input()),1
        
        for j in range(i+1):
            result *=value
        
        sum1+=result
    print(sum1)
    
# 1 Iteration  2 numbers 3 ,3  =3+ 3*3=12

1
2
3
3
12

In [12]:
#Read n,m, sum ----> find A+B==sum

In [17]:
n,m,sum1=map(int,input().split())
cnt=0

for i in range(n+1):
    for j in range(m+1):
        if i+j==sum1:
            print(f"{i}+{j}={i+j}")
            cnt+=1
print(cnt)

10 10 5
0+5=5
1+4=5
2+3=5
3+2=5
4+1=5
5+0=5
6

In [26]:
n=int(input())

for i in range(n):
    for j in range(n):
        if i==j or n-i-1==j:
            print("*",end=" ")
        else:
            print(" ",end='')
    print()

4
*   *
 * *
 * *
*   *

In [27]:
# Prime number

In [30]:
n=int(input())

if n<=1:
    print("No")
else:
    
    is_ok=True
    
    for i in range(2,n):
        if n%2==0:
            is_ok=False
            break
    if is_ok:
        print("Yes")
    else:
        print("NO")

13
Yes

In [34]:
#Print pime number from 1 to n

n=int(input())

for i in range(2,n+1):
    is_ok=True
    for j in range(2,i):
        if i%j==0:
            is_ok=False
            break
    if is_ok:
        print(i,end=" ")

13
2 3 5 7 11 13